<template>
  <div class="tour_program_second">
      <!--верхняя часть-->
      <div class="top">
       <div class="bottom">
          <div class="bottom_left">
             
            <div class="bottom_left-widget">
                <p class="bottom_text-text" v-for="(text, index) in tourProgramSecond.bottom.widget.text" :key="index"></p>
            <h5 class="bottom_">{{tourProgramSecond.bottom.widget.text}} </h5>
            <p class="text-style">{{tourProgramSecond.bottom.widget.paragraph}}</p>
             <div class="icon-heart">
             <img class="bottom_left-widget-icon"
             :src="require(`../assets/icons/tour_program/${tourProgramSecond.bottom.textes.icon}.png`)"/>
                </div>
              <p class="bottom_texts"> {{ tourProgramSecond.bottom.textes.text }} </p>
 
           
            </div>   
          </div>
          
             <div class="image">
             <img :src="require(`../assets/images/tour_program/${tourProgramSecond.bottom.image}.jpg`)" />
             </div>
        
          <div class="bottom_right">
            <p 
              class="bottom_text-text"
              v-for="(item, index) in tourProgramSecond.bottom.text"
              :key="index"
            >
               {{ item }}
            </p>
          </div>
      </div>
      <!--нижняя часть-->
   
      </div>
  </div>
</template>
<script>
export default {
  name: 'TourProgramSecond',
  inject:['tourProgramSecond']
}
</script>


<style lang="scss" scoped>
  .top {
    display: flex;
    justify-content: center;
    align-items: center;
     
    
    &_title {
     
      background-color: rgba(71, 50, 48, 0.69);
      color: #fff;
      padding: 25px;
      font-size: 3.5vw;
      margin: auto;
      justify-content: center;
      display: flex;

      @media (max-width: 768px) { 
          width: calc(100% - 50px);
          font-size: 4vw;
          padding: 10px;
      }
    }
     .image {

          @media (max-width: 768px) { 
            width: 100%;
          }

          img {
            width: 100%;
            height: 100%;
          }
  
        }
    &_images {
      width: 50%;

      img {
        width: 100%;
      }
    }
  }

  .bottom {
    display: flex;
    width: 100%;
      @media (max-width: 768px) { 
        flex-direction: column;
        margin-bottom: -5px;
      }

    &_right {
      width: 45%;
      background-color: #F1F1F1;
      color: #000000;
      padding: 30px;
      font-size: 1.3vw;
      @media (max-width: 768px) { 
          width: 100%;
          font-size: 18px;
      }
    }

    &_left {
      width: 46%;
      display: flex;
      font-size: 1.3vw;
      
      @media (max-width: 768px) { 
          width: 100%;
          font-size: 18px;
         
      }

      &-widget {
        background-color: #F1F1F1;
        padding: 30px;
        

        @media (max-width: 500px) { 
          width:100%
        }
           

        &-icon {
            width: 30px !important;
            height: 30px !important;
        
        }
      }
      .icon-heart{
        text-align: center;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }

    .bottom_texts{
      padding-top: 25px;

      @media (max-width: 1230px){
          font-size: 15px;
        }
      }
      .bottom_{
        @media (max-width: 1230px){
          font-size: 15px;
        }
      }
    }
    .text-style{
      font-weight: 300;
    }
  
</style>
